
#arquivos de execução não armazena#
.gradle
**/build/
!src/**/build/

# os arquivos Gradle GUI config#
gradle-app.setting
!gradle-wrapper.jar

# Cache do projeto#
.gradletasknamecache

#Work around https://youtrack.jetbrains.com/issue/IDEA-116898#
#gradle/wrapper/gradle-wrapper.properties#

#Java#
*.class

#arquivos dos pacotes#
*.jar
*.war
*.ear

.settings/*
bin/*
.project
.classpath